<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ford</string>
	<string>ferrari</string>
	<string>tesla</string>
	<string>lanos</string>
	<string>bmw</string>
	<string>kia</string>
	<string>vw</string>
	<string>porsche</string>
</array>
</plist>
